<div class="bg-light border m-1 col-6" @onclick="(args)=>selectedProdUpdate(args,Product.Name)">
    <h4 class="text-secondary">Termékek- @Product.Id</h4>

    <input type="checkbox"
        @onchange="favouriteUpdate"
        /> Hozzáadás a kedvencekhez <br /> <br />

    Név: @Product.Name
    Tulajdonságog:
    <input type="checkbox" @bind="Product.IsActive" />

    @if (Product.IsActive)
    {
        @foreach (var prop in Product.Productproperties)
        {
            <p>@prop.Key - @prop.Value</p>
        }
    }
    <br />

    <_DeleteButtonComponent ProductId="@Product.Id">

    </_DeleteButtonComponent>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }

    [Parameter]
    public EventCallback<bool> onFavouroteUpdate { get; set; }

    [Parameter]
    public EventCallback<string> onSelectedProdCange { get; set; }

    private async Task favouriteUpdate(ChangeEventArgs args)
    {
        await onFavouroteUpdate.InvokeAsync((bool)args.Value);
    }



    private async Task selectedProdUpdate(MouseEventArgs args, string prodName)
    {
        await onSelectedProdCange.InvokeAsync(prodName);
    }
}
